
.main {
  .mainWrapper {
    display: flex;
    flex-direction: row;
  }
}

.mainContainer {
  &.mainContainerProducts {
    width: 720px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  &.mainContainerAside {
    width: 340px;
  }
}

.mainProducts {
  .productsHeader {

  }

  .productsList {

  }
}