.nav{
  border-bottom: 1px solid #eaeaea;
  .navWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.navLinks{
  a{
    color: #000;
    padding-left: 10px;
    display: inline-block;
    vertical-align: top;
    padding-right: 2px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
  }
}
