
.product {
  border-top: 1px solid #eaeaea;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  .productDescription{
    padding: 10px 0;
    box-sizing: border-box;
  }
  .productBrand {
    font-size: 12px;
    text-align: center;
    img {
      width: auto;
      max-width: 62px;
      max-height: 60px;
    }
  }

  .productHeader {
    position: relative;
    padding: 10px 20px 0 0;
    display: flex;

    .productUpdate {
      position: absolute;
      right: 15px;
      color: #3f3f3f;
    }
  }

  .productName {
    max-width: 400px;
    padding-left: 20px;
    a{
      text-decoration: none;
      color: #254099;
      font-weight: bold;
    }
  }

  .productImage {
    text-align: center;

    img {
      max-width: 300px;
      max-height: 300px;
      object-fit: contain;
    }
  }
}
