
.product {
  border-top: 1px solid #eaeaea;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  .productBrand{
    font-size: 12px;
    img{
      width: auto;
      max-width: 62px;
      max-height: 60px;
    }
  }
  .productHeader {
    position: relative;
    padding: 10px 20px 0 0;

    .productUpdate {
      position: absolute;
      right: 15px;
      top: 0;
      color: #3f3f3f;
    }
  }

  .productName {

  }

  .productImage {
    img{
      width: 400px;
      max-width: 100%;
      max-height: 300px;
      object-fit: contain;
    }
  }
}
